<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT umbHomePage ANY>
<!ATTLIST umbHomePage id ID #REQUIRED>
<!ELEMENT umbMaster ANY>
<!ATTLIST umbMaster id ID #REQUIRED>
<!ELEMENT Myhomepage ANY>
<!ATTLIST Myhomepage id ID #REQUIRED>
<!ELEMENT Mymaster ANY>
<!ATTLIST Mymaster id ID #REQUIRED>
<!ELEMENT umbNewsItem ANY>
<!ATTLIST umbNewsItem id ID #REQUIRED>
<!ELEMENT umbNewsOverview ANY>
<!ATTLIST umbNewsOverview id ID #REQUIRED>
<!ELEMENT umbTextPage ANY>
<!ATTLIST umbTextPage id ID #REQUIRED>

]>
<root id="-1">
  <umbHomePage id="1056" key="0e2309a3-4c65-4807-867b-c599846eebc0" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-10-09T10:35:37" updateDate="2015-10-10T13:53:41" nodeName="主页" urlName="主页" path="-1,1056" isDoc="" nodeType="1052" creatorName="zhuyong" writerName="zhuyong" writerID="0" template="1047" nodeTypeAlias="umbHomePage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <title><![CDATA[一家专业发基金公司]]></title>
    <googleLink><![CDATA[https://google.com/+Umbraco]]></googleLink>
    <facebookLink><![CDATA[http://facebook.com/Umbraco]]></facebookLink>
    <rssLink><![CDATA[http://feeds.feedburner.com/umbracoblog]]></rssLink>
    <twitterLink><![CDATA[http://twitter.com/UmbracoProject]]></twitterLink>
    <hideBanner>0</hideBanner>
    <bannerBackgroundImage><![CDATA[/media/SampleImages/1008/banner.jpg]]></bannerBackgroundImage>
    <bannerSubheader><![CDATA[It will lead to a call-to-action, just click the button...]]></bannerSubheader>
    <bannerHeader><![CDATA[This is some text that needs to pop]]></bannerHeader>
    <bannerLinkText><![CDATA[You know you want to click me]]></bannerLinkText>
    <aboutText><![CDATA[<p>This is <a href="http://html5up.net/txt/">TXT</a>, a free site template designed by <a href="http://n33.co">n33</a> for <a href="http://html5up.net/">HTML5 UP</a>. It's built on the <a href="http://skeljs.org">skelJS</a> framework, uses well-thought out HTML5 and CSS3, and is fully responsive making it a great starting point for your own projects. And, like everything else we make, it's also free to use for pretty much any personal or commercial work under the <a href="http://html5up.net/license/">Creative Commons Attribution</a> license, so go ahead and use it – just don't forget to credit us!</p>]]></aboutText>
    <aboutTitle><![CDATA[What's this about?]]></aboutTitle>
    <byline><![CDATA[一家专业的基金公司]]></byline>
    <siteName><![CDATA[万润金联]]></siteName>
    <copyright><![CDATA[万润金联]]></copyright>
    <umbTextPage id="1058" key="51325604-6689-4ddb-8f2b-f0af7e7e95dd" parentID="1056" level="2" creatorID="0" sortOrder="0" createDate="2015-10-09T10:35:37" updateDate="2015-10-10T14:12:36" nodeName="公司活动" urlName="公司活动" path="-1,1056,1058" isDoc="" nodeType="1055" creatorName="zhuyong" writerName="zhuyong" writerID="0" template="1050" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[companyActivity]]></title>
      <image><![CDATA[/media/SampleImages/1060/pic02.jpg]]></image>
      <bodyText><![CDATA[<p>公司活动                       The Txt Starter Kit only scratches the surface of what's possible with Umbraco. Below the Txt Starter Kit and its modules lies a great architecture that lets you implement whatever you need.</p>
<p>With Umbraco you've finally got a solid, open and reliable platform for websites as basic as the Txt site, and Umbraco can be rapidly expanded to support multi-language websites, collaboration platforms and intra/extranets, to name just a few.</p>
<p>Advanced functionality is created with Umbraco macros, built with Umbraco's award-winning .NET integration, including full support for any .NET User or Custom control and ASP.NET MVC. Create and integrate your own .NET macros in mere minutes with point and click simplicity. Simply copy your controls to the Umbraco website, go to the <strong>Developer</strong> section and create a new macro, selecting your control from the list.</p>
<p>You can also use <a href="http://umbraco.org/help-and-support/video-tutorials/getting-started/working-with-webmatrix" title="Working with Razor">Microsoft's Razor</a> syntax to quickly add dynamic functionality to your site.</p>
<p>We've also gathered the best community macros into a repository that's also accessed from the <strong>Developer</strong> section, in the <strong>Packages</strong> area. You can find more information <a href="http://umbraco.org/help-and-support/video-tutorials/introduction-to-umbraco/sitebuilder-introduction/what-are-macros" title="About creating Umbraco macros">about creating macros</a>, on the Umbraco website.</p>
<p>The sky is the limit with Umbraco, and you have the benefit a friendly community, training, and guaranteed support. Find out how to <a href="http://umbraco.org/help-and-support" title="Get Umbraco Support">get help</a>.</p>]]></bodyText>
      <featuredPage>1</featuredPage>
    </umbTextPage>
    <umbNewsOverview id="1061" key="63b431ab-5543-4ee6-a90e-1915bae0b04d" parentID="1056" level="2" creatorID="0" sortOrder="1" createDate="2015-10-09T10:35:37" updateDate="2015-10-10T14:12:20" nodeName="新闻动态" urlName="新闻动态" path="-1,1056,1061" isDoc="" nodeType="1054" creatorName="zhuyong" writerName="zhuyong" writerID="0" template="1049" nodeTypeAlias="umbNewsOverview">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Adventure log]]></title>
      <umbNewsItem id="1062" key="9a9bcde3-4068-4bde-9146-bb7902c4b3f7" parentID="1061" level="3" creatorID="0" sortOrder="0" createDate="2015-10-09T10:35:37" updateDate="2015-10-10T13:56:42" nodeName="The 10 remarkable features of object" urlName="the-10-remarkable-features-of-object" path="-1,1056,1061,1062" isDoc="" nodeType="1053" creatorName="zhuyong" writerName="zhuyong" writerID="0" template="1048" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>第一条新闻</p>]]></bodyText>
      </umbNewsItem>
      <umbNewsItem id="1063" key="9969ba0b-0d11-4cdb-9ad1-b1a6027f455d" parentID="1061" level="3" creatorID="0" sortOrder="1" createDate="2015-10-09T10:35:37" updateDate="2015-10-10T13:56:49" nodeName="This is a wonderful news item" urlName="this-is-a-wonderful-news-item" path="-1,1056,1061,1063" isDoc="" nodeType="1053" creatorName="zhuyong" writerName="zhuyong" writerID="0" template="1048" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>第二条新闻</p>]]></bodyText>
      </umbNewsItem>
      <umbNewsItem id="1064" key="c16da76a-e0bc-415d-9086-e1549e675a6d" parentID="1061" level="3" creatorID="0" sortOrder="2" createDate="2015-10-09T10:35:37" updateDate="2015-10-10T13:56:55" nodeName="You really need to read this!" urlName="you-really-need-to-read-this" path="-1,1056,1061,1064" isDoc="" nodeType="1053" creatorName="zhuyong" writerName="zhuyong" writerID="0" template="1048" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>第三条新闻</p>]]></bodyText>
      </umbNewsItem>
      <umbNewsItem id="1065" key="bdc2c5ec-81d4-4a83-a4d6-3a428b6f5956" parentID="1061" level="3" creatorID="0" sortOrder="3" createDate="2015-10-09T10:35:37" updateDate="2015-10-10T13:58:38" nodeName="Txt Starter Kit For Umbraco Released" urlName="txt-starter-kit-for-umbraco-released" path="-1,1056,1061,1065" isDoc="" nodeType="1053" creatorName="zhuyong" writerName="zhuyong" writerID="0" template="1048" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <publishDate>2021-09-20T00:00:00</publishDate>
        <subheader><![CDATA[In all it's MVC Views goodness]]></subheader>
        <image><![CDATA[/media/SampleImages/1077/pic05.jpg]]></image>
        <bodyText><![CDATA[<p>第四条新闻</p>]]></bodyText>
      </umbNewsItem>
    </umbNewsOverview>
    <umbTextPage id="1060" key="2d8ef067-61ad-40f1-8b43-9b47a975a9ec" parentID="1056" level="2" creatorID="0" sortOrder="2" createDate="2015-10-09T10:35:37" updateDate="2015-10-10T14:12:20" nodeName="关于我们" urlName="关于我们" path="-1,1056,1060" isDoc="" nodeType="1055" creatorName="zhuyong" writerName="zhuyong" writerID="0" template="1050" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <image><![CDATA[/media/SampleImages/1001/pic03.jpg]]></image>
      <bodyText><![CDATA[<p>关于我们   he Txt Starter Kit gives you a small website that introduces you to a set of well-defined conventions for building an Umbraco website.</p>
<p>Now that you know what the Txt Starter Kit is, it is time to get started using Umbraco.</p>]]></bodyText>
      <featuredPage>1</featuredPage>
    </umbTextPage>
  </umbHomePage>
  <Myhomepage id="1087" key="d9182c53-6f1e-4d64-bab6-2a41ad54a40b" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-10-10T15:45:32" updateDate="2015-10-10T16:01:47" nodeName="Test" urlName="test" path="-1,1087" isDoc="" nodeType="1086" creatorName="zhuyong" writerName="zhuyong" writerID="0" template="0" nodeTypeAlias="Myhomepage">
    <content><![CDATA[<p>我测试的内容页面啊！。。。。。。。。。。。。</p>]]></content>
    <Myhomepage id="1092" key="d7efc1ae-8cb0-409b-a241-372ca6ede4a0" parentID="1087" level="2" creatorID="0" sortOrder="1" createDate="2015-10-10T17:26:23" updateDate="2015-10-10T17:26:37" nodeName="About" urlName="about" path="-1,1087,1092" isDoc="" nodeType="1086" creatorName="zhuyong" writerName="zhuyong" writerID="0" template="1088" nodeTypeAlias="Myhomepage">
      <content><![CDATA[<p>关于我们</p>]]></content>
      <seo><![CDATA[下班吃什么呢]]></seo>
      <footer><![CDATA[<p>天底部：天气变冷了</p>]]></footer>
    </Myhomepage>
  </Myhomepage>
</root>